<div id="aboutus">
  <section class="about-bg wow fadeInUp">
    <div class="container">
      <div class="col-md-6 about-content">
        <h3>About Us</h3>
        <p>Peachkite brings together both women and organizations on to a single platform.  to offer women career support initiatives and receive feedback. <p>
        <p>Organizations, who respect the right of women to have a career on her terms and provide an opportunity for her to fulfill both her career aspirations and social obligations with equal ease</p>
        <p>Peachkite brings together women to assist each other in uplifting their career, identify the most appropriate workplace and provide genuine & anonymous feedback to organisations for them to tap the right talent and gain an insight to the effectiveness of their initiatives.
        </p>
        <p>So, come and fly your kite.</p>
      </div>
    </div>
  </section>
</div>
