<div class="col-md-9 nopad">
  <div class="section-header space-bottom">Benefits</div>
  <div *ngFor="let benefitArray of standardBenefits" class="CMS-form">
    <div *ngFor="let benefit of benefitArray" class="col-sm-6">
      <div class="radio radio-primary">
        <input type="checkbox" [(ngModel)]="benefit.isSelected">
        <label class="benefit-label" for="radio1">
          {{benefit.label}}
        </label>
      </div>
    </div>
  </div>

  <div class="CMS-form">
    <div class="col-sm-12 text-left">
      <h5 >Other max 5</h5>
      <div class="input-group space-bottom" *ngFor="let companyBenefit of companyBenefits;let i=index;">
        <input minlength="5" maxlength="50" type="text" name="" class="form-control input-number" placeholder="Other max 5" [(ngModel)]="companyBenefit.label">
        <span class="input-group-btn">
              <button (click)="addBenefit()" type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span><span class="input-group-btn">
              <button (click)="deleteBenefit(i)" type="button" class="btn btn-default btn-number">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 space-top CMS-form">
    <div class="col-sm-12">
      <a href="javascript:void(0)" class="btn primary-button" (click)="save()" [ngClass]="{'disabled': disableSave}">Submit</a>
    </div>
  </div>
</div>
