<div class="col-md-9 nopad" *ngIf="loaded">
  <div class="section-header">Multimedia</div>
  <div class="col-md-12 space-top">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr> <th>Title</th> <th> Type</th> <th>Link</th> <th>Start Date</th> <th>Expiry Date</th> <th>Status</th>   </tr> </thead>
        <tbody>
          <tr *ngFor="let content of contentList" class="content-row" (click)="editContent(content.id)">
            <td scope="row">{{content.title}}</td>
            <td>{{content.type == 'LINK'?'Article':'Video'}}</td>
            <td>{{content.url}}</td>
            <td>{{formatDate(content.startDate)}}</td>
            <td>{{formatDate(content.endDate)}}</td>
            <td>{{content.status=='ACTIVE'?'Active':'Saved'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <app-pagination [currentPage]="1" [totalPages]="totalPages" (pageEvent)="loadData($event)"></app-pagination>
      </div>
      <div class="col-sm-12 space-top">
        <a href="javascript:void(0)" (click)="addContent()" class="btn primary-button" style="margin-left:15px">Add</a>
      </div>
    </div>
  </div>
</div>
