<div class="modal-dialog">
  <div class="modal-content modal-min-height">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
      <h4 class="modal-title">Password Reset</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-8 col-md-offset-2" *ngIf="!success && isLoaded">
        <form name="passwordForm">
          <div class="form-group">
            <input type="password" class="form-control"  placeholder="Password" [(ngModel)]="password" name="password">
            <div class="error" *ngIf="invalidPassword">* Password should have atleast 6 characters.</div>
          </div>
          <div class="form-group">
            <input autocomplete="off" type="text" class="form-control"  placeholder="Confirm Password" (keyup)="validate()" [(ngModel)]="confirmPassword" name="confirmPassword">
            <div class="error" *ngIf="invalidConfirmPassword && confirmPassword">* Passwords doesn't match.</div>
            <div style="text-align: center;color: red;margin-top: 5px;" *ngIf="error">Error occurred while processing your request.Please try again later.</div>
          </div>
          <a href="javascript:void(0)" class="btn primary-button" [ngClass]="{'disabled':!validate()}" (click)="submit()">Submit</a>
        </form>
      </div>
      <div class="col-md-10 col-md-offset-1 text-center" *ngIf="success">
        <br>
        <h3>Your password was successfully reset.</h3>
        <div>
          <div class="text-center"><button type="submit" class="btn primary-button" (click)="cancel()">Close</button></div>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 text-center" *ngIf="invalidToken">
        <br>
        <h3>Password reset link is either invalid or expired.</h3>
        <div>
          <div class="text-center"><button type="submit" class="btn primary-button" (click)="cancel()">Close</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
